---
console.log('java script');

---

<header class="contend__header">
    <div class="tittle">
        <h2>SpaceX Launches 🚀</h2>
    </div>
    <div class="leyend__tittle">all the information about X Space Launches</div>
</header>


<style>
.contend__header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.tittle{
    color: #ffffff;
    font-size: 1.7em;
}

.leyend__tittle{
    color: #8d8d8d;
    font-weight: 400;
}


</style>